<link rel="stylesheet" href="/static/css/buy.css">

<img class="background" src="/static/img/buy.jpg" alt="Image Not Found!">

<div class="plans">
    <div class="card">
        <h3 class="title">
            One Day Plan
        </h3>
        <button class="buy-btn" onclick="window.location.href = '/purchase?time=day'">
            Get Plan
        </button>
    </div>

    <div class="card">
        <h3 class="title">
            One Week Plan
        </h3>
        <button class="buy-btn" onclick="window.location.href = '/purchase?time=week'">
            Get Plan
        </button>
    </div>

    <div class="card">
        <h3 class="title">
            One Month Plan
        </h3>
        <button class="buy-btn" onclick="window.location.href = '/purchase?time=month'">
            Get Plan
        </button>
    </div>

    <div class="card">
        <h3 class="title">
            One Year Plan
        </h3>
        <button class="buy-btn" onclick="window.location.href = '/purchase?time=year'">
            Get Plan
        </button>
    </div>
</div>

<script src=""></script>