<link rel="stylesheet" href="/static/css/login.css">

<img class="background" src="/static/img/login.jpg" alt="Image Not Found!">

<div class="main">
    <h3 class="title">TRAINER</h3>

    <form class="login-form" action="/users/newTrainer" method="post">
        <input class="email" type="text" name="name" placeholder="Name" required>
        <input class="email" type="text" name="email" placeholder="Email" required>
        <input class="password" type="password" name="password" placeholder="Password" required>
        <input class="password" type="password" name="confirmpassword" placeholder="Confirm Password" required>
        <input class="submit" type="submit" value="Register">
    </form>
</div>

<script src=""></script>