.home-video
{
    position: fixed;
    right: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    opacity: 0.5;
}

.intro
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
}

.title, .quote
{
    margin-top: 1%;
    font-size: 4rem;
}